    body{
        background-color: rgb(92, 109, 106);
    }
    /* changing color of header bg */
header{background-color: rgb(24, 182, 58);
padding: 20px;
margin: 20px;
}   

p{
    color: rgb(70, 9, 9);
}
h1, h2, h3{
    text-decoration: underline;
    
}
section{
    border : 2px solid   black ;
}
/* using id to target an element */
#aboutus{
    background-color: aqua;
}
/* using class to target an element */
.imp-para{
    /* text-transform : uppercase; */
    background-color: cadetblue;
    color: aquamarine;
}
nav a {
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px 10px;
}
nav a:hover,
nav a:focus {
    background-color: blue;
    color: white;
;
}

