.box { 
background-color: lightskyblue;
padding: 2rem;
border-radius: 1rem;
}
.grid-container1{
    display: grid;
    /* grid-template-columns:  1fr 1fr; */
    /* grid-template-columns:  1fr 1fr 1fr; */
    /* three columns: 200px, 500px, 1fr */
    /* create two rows */
    /* grid-template-rows: 200px 200px; */
    grid-template-columns: 200px 500px 1fr; 
    /* create two rows */
    grid-template-rows: 1fr;
    gap: 1rem;
    /* one value = for row and column  */
   
    /* two values = first for row, second for column and third for gap */

   
}
@media screen and {min-width:600px}{
    .grid-container1{
        grid-template-columns: 1fr 1fr ;
    }
    
}
@media screen and (min-width:900px){
    .grid-container1{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
}
