body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: lightgray;
}
nav a {
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px 10px;
}

.site-title {
    color: darkblue;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
ul {
    list-style-type: square;
}
li:nth-child(odd) {
    background-color: #f2f2f2;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
nav a {
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px 10px;
}
nav a:hover,
nav a:focus {
    background-color: blue;
    color: white;
}
